*
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* mobile first */
.grid {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
       "header header"
       "sidebar sidebar"
       "main main"
       "footer footer";   
 } 

 .grid {
   display: grid;  
   gap: 5px;
   grid-template-columns: 1fr 5fr;
   grid-template-areas:
      "header header"
      "sidebar sidebar"
      "main main"
      "footer footer";    
} 
 header {
    grid-area: header;
   background-color: cadetblue;
    color:white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
     height: fit-content; 
     width:auto;
 }
 header h3:hover{
    -webkit-transform: rotate(360deg);transform: rotate(360deg); }
 
 aside {
    grid-area: sidebar;
    background-color: beige;
    color:white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    align-content: flex-start;
    background-image: url('../imgs/bg_logo.jpg');
    background-size: cover;  
    height: fit-content;
    width: 100%;  
 }
 aside li{
   text-decoration: none; 
   font-size: medium;
}
aside li:hover{
   color:yellow; 
}

 main {
    grid-area: main;
    text-decoration: none;
    padding: 10px;
    text-align: center;    
    overflow: auto;
 }
 .card{
   display:flex;
   flex-direction:column;
   justify-content:space-between;
   width:420px;
   border: 1px solid lightgray;
   box-shadow: 2px 2px 8px 4px #d3d3d3d1;
   border-radius:15px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }

 .card:hover {
   background-color: yellow;
   color: red;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .card img{
   border-radius:15px;
   height: fit-content; 
   width: fit-content;
 }
  
 footer {
    grid-area: footer;    
    background-color: cadetblue;
    background-position: center bottom;
	  background-size: auto;     
    color: white;
    min-height: 8vh;   
    height: fit-content; 
    text-align: center;
	 border-radius:0 0 15px 15px;
     padding: 10px;
 }
  .pages {
    display: flex;
    justify-content: center;
    margin: 0.5rem;    
}

.page-link {
    background-color: white;
    border: 1px solid #edf2f4;
    color: white;
    padding: 0.7rem 1rem;
    background-color: cadetblue;
    text-decoration: none;
}

.page-link:first-child {
    border-radius: .7rem 0 0 .7rem;
}

.page-link:last-child {
    border-radius: 0 .7rem .7rem 0;
}

.page-link:hover {
    background-color: #edf2f4;
    color: gray;
}

@media (min-width: 576px) {
   body {
       font-size: 12px;
       background-color: indianred;
     }
   .grid {
      grid-template-areas:
         "header header"
         "sidebar sidebar"
         "footer footer";          
   }
   footer{
     min-height: 5vh;    
   }
}
@media (min-width: 992px) {
   body {
       font-size: 14px;
       background-color: yellowgreen;
     }
   .grid {
       grid-template-columns: 1fr 5fr;
       grid-template-rows:1fr 5fr 1fr;
      grid-template-areas:
         "header header"
         "sidebar main"
         "footer footer";          
   }
   sidebar{
     background-size: auto;
     background-repeat: no-repeat;
     background-size: 1fr;
  } 
  footer{
     min-height: 10vh;    
   }    
}
@media (min-width: 1200px) {
   body {
       font-size: 16px;
       background-color: gold;
     }
   .grid {
       grid-template-columns: 1fr 10fr;
       grid-template-rows:auto auto auto;
      grid-template-areas:
         "header header "
         "sidebar main "
         "footer footer";   
             
   }
   sidebar{
     background-size: 10vh;
     background-repeat: no-repeat;
     background-size: 10vh;
  } 
  footer{
     min-height: 10vh;    
   }    
}

 
 